.star {
  position: absolute;
  left: var(--x);
  top: var(--y); 
  opacity: 0.5;
  transform: translate(-50%, -50%);
}

#on {
  color: #fff;
  opacity: 1 !important;
}

.body::-webkit-scrollbar {
  display: none;
}